/* Generales */

*{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif, Helvetica, Arial;
}

body {
    background: url(../img/bg.png);
}

a {
    color: #01B1EA;
}

a:visited {
    color: #01B1EA;
}

a:hover {
    color:#555555;
}

table {
    text-align: center;
    width: 100%;
    border: 1px solid #555;
}

td {
    border-top: 1px solid #ccc;
    padding: 2px;
}

#conteiner {
    width: 80%;
    margin: 0px auto;
    box-shadow: 0px 0px 10px gray;
    background: white;
}

/* HEADER */

#header {
    height: 145px;
    color: #F0F0F0;
    background: url(../img/bg.png);
}

#logo {
    padding: 20px;
    margin-left: 20px;
    float: left;
}

#logo img {
    height: 100px;
    float: left;
}

#logo a {
    float: left;
    font-size: 40px;
    letter-spacing: 4px;
    font-family: "Open Sans", Helvetica, Arial; 
    text-transform: uppercase;
    color: #01B1EA;
    font-weight: bold;
    text-decoration: none;
    margin-top: 18px;
    margin-left: 25px;  
    text-shadow: 0px 2px 1px black;
    transition: all 300ms;
}

#logo a:hover {
    text-shadow: 0px 3px 2px black, 0px 0px 4px #01B1EA;
}
/* Barra de Menu */

#menu {
    clear: both;
    background: #222; 
    color: white;
    height: 55px;
    border-bottom: 4px solid #01B1EA;
}

#menu ul {
    list-style: none;
    text-decoration: none;
    margin: 0px auto;
    margin-left: 25px;
}

#menu ul li {
    line-height: 55px;
    float: left;
    border-right: 1px solid #363636;
}

#menu a {
    display        : block;
    color          : white;
    text-decoration: none;
    padding-right  : 15px;
    padding-left   : 15px;
    transition: all 300ms;

}

#menu a:first-child {
    border-left: 1px solid #363636;
}

#menu a:hover {
    background: #01B1EA;
}
/* Menu Lateral */

#content {
    margin: 0px auto;
    overflow: hidden;
    background: white;
}

#side {
    width: 23%;
    min-height: 300px;
    float: left;
    margin-top: 20px;
    margin-left: 10px;
}

#side .block_aside {
    display: block;
    width: 90%;
    margin: 5px auto;
    padding: 10px;
}

#side h3 {
    display: block;
    color: #222;
    width: 100%;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: bold;
    background: #E1E1E1;
    border-bottom: 2px solid #01B1EA;
}

#side ul li {
    list-style: none;
    text-align: center;
    margin-bottom: 3px;
}
/* Forumlarios */

.form_conainer { 
    width: 50%;
}

label,
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
select, textarea {
    display: block;
    width: 95%;
    margin-top: 2px;
    margin-bottom: 2px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
select, textarea {
    border: 1px solid #C9C9C9;
    box-shadow: 0px 0px 2px #ccc inset;
    background: white;
    padding: 2px;
    color: gray;
    transition: all 300ms;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
    border: 1px solid #1579b5;
    color: black;
}

input[type="button"],
input[type="submit"],
button,
.button {
    display: block;
    border-radius: 5px;
    width: auto;
    margin-top: 7px;
    padding: 5px;
    padding-right: 5px;
    padding-left: 5px;
    color: white;
    background: #2979CD;
    border: 1px solid #11608E;
    cursor: pointer;
}

.button {
    background: #33AE3D;
    color: white !important;
    text-decoration: none;
}

.button-small {
    width: 120px;
    text-align: center;
    margin-bottom: 20px;
}

.buttonED {
    display: inline-block;
    text-decoration: none;
    border-radius: 5px;
    width: 70px;
    margin-top: initial;
    padding: 1px;
    padding-right: 1px;
    padding-left: 1px;
    color: white !important;
    background: red;
    border: 1px solid #800000;
    cursor: pointer;
}

/* Central */

#central {
    width: 71%;
    float: right;
    min-height: 500px;
    border-left: 1px solid #ccc;
    box-shadow: -5px -1px 5px #ddd;
    padding: 25px;
}

#central h1 {
    font-size: 24px;
    font-weight: normal;
    letter-spacing: 1px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 20px;
    padding-top: 0px;
}

/* Productos */

.product {
    width: 30%;
    border-right: 1px solid #ccc;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    margin-bottom: 30px;
}

.product img {
    width: 150px;
    height: 150px;
    margin-bottom: 10px;    
}

.product h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.product p {
    margin-bottom: 10px;
}

.producto_imagen {
    /* height: 100px; */
    width: 100px;
}

.img-carrito {
    height: 80px;
    margin: 10px auto; 
}

.product a {
    color: black;
    text-decoration: none;
}

.product a:hover{
    color: #555;
}

.alineado {
    display: inline-block !important;
    margin-right: 10px;
}

#detail-product {
    width: 100%;
}

#detail-product .image {
    display: block;
    width: 47%;
    float: left;
}

#detail-product img {
    display: block;
    width: 100%;
    float: left;
}

#detail-product .data {
    width: 50%;
    float: right;    
}

#detail-product .descripcion {
    margin-bottom: 20px;
}

#detail-product .price {
    margin-bottom: 10px;
    font-size: 20px;
    color: #444;
}

#detail-product .button {
    width: 200px;
    text-align: center;

}

.super {
    text-decoration: none;
}

/* Footer */

#footer {
    clear: both;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    background: #222222;
    border-top: 4px solid #01B1EA;
}

#prueba{
    text-align: right;
    text-decoration: underline;
}

/* Alertas */
.confirmacion {
    color: green;
}

.negacion {
    color: red;
}

/* Carrito */
.vaciar-carrito {
    width: 110px;
    float: left;
    margin-top: 30px;
}

.button-vaciar {
    display: block;
    background-color: red;
    text-align: center;
}
.button-eliminar{
    width: 72px;
    text-align: center;
    display: block;
    margin: 0px auto;
    background-color: grey;
}

.total-carrito{
    float: right;
    margin-top: 30px;;
}

.total-carrito span {
    font-size: 35px;
    color: #33AE3D;
}

.button-pedido{
    display: block;
    width: 100px;
    float: right;
}

.carrito {
    margin-top: 25px;
}

#updown a{
    display: block;   
    font-size: 20px;
    border: 1px solid green;
    text-decoration: none;
    width: 20px;
    margin: 7px auto 7px auto;
    height: auto;
    color: white;
    background-color: green;
    border-radius: 7px;
}